In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_columns', None)

In [9]:
df = pd.read_csv('../data/final_data.csv')
df

,Date,Hour,DEgen,DEload,DKgen,DKload,HUgen,HUload,ITgen,ITload,NEgen,NEload,POgen,POload,SEgen,SEload,SPgen,SPload,HU_surplus,IT_surplus,PO_surplus,SP_surplus,DE_surplus,DK_surplus,SE_surplus,NE_surplus,label,spring,summer,winter,day_of_week,is_weekend
0,2022-01-01,0,157373.0,165125.0,3605.0,3218.0,1376.0,16457.0,5745.0,19756.0,12768.0,40706.0,4491.0,13935.0,11107.0,15331.0,10827.0,19530.0,-15081.0,-14011.0,-9444.0,-8703.0,-7752.0,387.0,-4224.0,-27938.0,5,0,0,1,5,1
1,2022-01-01,1,151747.0,160415.0,3309.0,3126.0,1526.0,15426.0,6228.0,18685.0,11131.0,39465.0,4436.0,13579.0,11036.0,15270.0,11140.0,18383.0,-13900.0,-12457.0,-9143.0,-7243.0,-8668.0,183.0,-4234.0,-28334.0,5,0,0,1,5,1
2,2022-01-01,2,147938.0,158035.0,3043.0,3080.0,1560.0,14781.0,6407.0,18124.0,11324.0,38923.0,4568.0,13397.0,10509.0,15150.0,11361.0,17680.0,-13221.0,-11717.0,-8829.0,-6319.0,-10097.0,-37.0,-4641.0,-27599.0,5,0,0,1,5,1
3,2022-01-01,3,141816.0,157016.0,2852.0,3044.0,1287.0,14630.0,5760.0,18400.0,11290.0,38211.0,4559.0,13364.0,10770.0,15387.0,11247.0,17396.0,-13343.0,-12640.0,-8805.0,-6149.0,-15200.0,-192.0,-4617.0,-26921.0,5,0,0,1,5,1
4,2022-01-01,4,131970.0,154552.0,2724.0,3130.0,1309.0,14688.0,5501.0,19223.0,11093.0,38146.0,4374.0,13449.0,10852.0,15737.0,10868.0,17544.0,-13379.0,-13722.0,-9075.0,-6676.0,-22582.0,-406.0,-4885.0,-27053.0,5,0,0,1,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2022-12-31,19,175631.0,184106.0,1765.0,3713.0,851.0,17488.0,4198.0,24809.0,17241.0,45646.0,6959.0,15211.0,10179.0,14440.0,67056.0,104484.0,-16637.0,-20611.0,-8252.0,-37428.0,-8475.0,-1948.0,-4261.0,-28405.0,5,0,0,1,5,1
8756,2022-12-31,20,176499.0,175401.0,1593.0,3579.0,888.0,17075.0,3676.0,23169.0,17233.0,43425.0,6910.0,14641.0,9586.0,14201.0,62432.0,97124.0,-16187.0,-19493.0,-7731.0,-34692.0,1098.0,-1986.0,-4615.0,-26192.0,4,0,0,1,5,1
8757,2022-12-31,21,175678.0,168830.0,1788.0,3520.0,807.0,16717.0,3641.0,21857.0,17129.0,41766.0,7054.0,13977.0,9148.0,13713.0,61096.0,87316.0,-15910.0,-18216.0,-6923.0,-26220.0,6848.0,-1732.0,-4565.0,-24637.0,4,0,0,1,5,1
8758,2022-12-31,22,165104.0,161541.0,2242.0,3440.0,754.0,16261.0,3422.0,20555.0,15939.0,40415.0,5946.0,13272.0,8806.0,13772.0,55252.0,82064.0,-15507.0,-17133.0,-7326.0,-26812.0,3563.0,-1198.0,-4966.0,-24476.0,4,0,0,1,5,1
8759,2022-12-31,23,158365.0,153157.0,2779.0,3389.0,765.0,15628.0,3241.0,19857.0,12279.0,39398.0,4767.0,12509.0,8491.0,13595.0,49972.0,79512.0,-14863.0,-16616.0,-7742.0,-29540.0,5208.0,-610.0,-5104.0,-27119.0,4,0,0,1,5,1

In [10]:

#X--> We create an array with 8 countries and 8759 hours of 7 features.
# y--> The surplus will be our target, so we created another array of 8 countries and 8769 hours using the surplus column
countries = ['HU', 'IT', 'PO', 'SP', 'DE', 'DK', 'SE', 'NE']
num_countries = len(countries)

features = ['Hour', 'spring', 'summer', 'winter', 'day_of_week', 'is_weekend',
    'DEgen', 'DKgen',  'HUgen', 'ITgen', 'NEgen',  'POgen', 'SEgen', 'SPgen',
    'DEload', 'DKload', 'HUload', 'ITload', 'NEload', 'POload', 'SEload', 'SPload', 
    'DE_surplus',  'DK_surplus', 'HU_surplus', 'IT_surplus', 'NE_surplus', 'PO_surplus', 'SE_surplus', 'SP_surplus'  
]
num_features = len(features)

label_column = 'label'

In [12]:
X = df[features].values
y = df[label_column].values

print('X shape :', X.shape)
print('y shape :', y.shape)


def train_val_test_df_split(perc, df):

    # split df
    # test
    split = int(df.shape[0]*perc)
    df_aux = df[:split]
    df_test = df[split:]

    # train and validation
    split = int(df_aux.shape[0]*perc)
    df_train = df_aux[:split]
    df_val = df_aux[split:]

    return df_train, df_val, df_test

def train_val_test_split(perc, X, y):
    
 
    # test
    split = int(X.shape[0]*perc)
    X_aux = X[:split, :]
    y_aux = y[ : split]
    X_test = X[split: , :]
    y_test = y[split: ]

    # train and validation
    split = int(X_aux.shape[0]*perc)
    X_train = X_aux[:split, :]
    X_val = X_aux[split: , :]
    y_train = y_aux[ : split]
    y_val = y_aux[split: ]

    print("Shapes:")
    print("X_train:", X_train.shape)
    print("y_train:", y_train.shape)
    print('==================')
    print("X_val:", X_val.shape)
    print("y_val:", y_val.shape)
    print('==================')
    print("X_test:", X_test.shape)
    print("y_test:", y_test.shape)

    return X_train, y_train, X_val, y_val, X_test, y_test

perc = 0.8
X_train, y_train, X_val, y_val, X_test, y_test = train_val_test_split(perc, X, y)

X shape : (8760, 30)
y shape : (8760,)
Shapes:
X_train: (5606, 30)
y_train: (5606,)
==================
X_val: (1402, 30)
y_val: (1402,)
==================
X_test: (1752, 30)
y_test: (1752,)

In [80]:
# divide the dataset to train the model 

def create_sequences(X, y, window):
    rows = X.shape[0]
    features = X.shape[1]

    sequences = np.zeros((rows - window - 1 , window, features))
    target_values = np.zeros((rows - window - 1 ))

    for i in range(rows - window -1):

        sequences[i, : , : ] = X[ i : (i + window), : ] # cogemos las filas de i a i+window y todas las columnas (features)
        target_values[i] = y[i + window]

        # print(i)

    
    return sequences, target_values


window = 48 # The amount of hours we want to use as input data

# Usage example
sequences_train, target_values_train = create_sequences(X_train, y_train, window)
sequences_val, target_values_val = create_sequences(X_val, y_val, window)
sequences_test, target_values_test = create_sequences(X_test, y_test, window)

print("Shapes:")
print('rows: ', X_train.shape[0])
print('Deberiamos tener secuencias de entrenamiento = rows - window - 1: ', X_train.shape[0] - window - 1)
print("sequences_train:", sequences_train.shape)
print("target_values_train:", target_values_train.shape)
print('==================')
print("sequences_val:", sequences_val.shape)
print("target_values_val:", target_values_val.shape)
print('==================')
print("sequences_test:", sequences_test.shape)
print("target_values_test:", target_values_test.shape)

Shapes:
rows:  5606
Deberiamos tener secuencias de entrenamiento = rows - window - 1:  5557
sequences_train: (5557, 48, 30)
target_values_train: (5557,)
==================
sequences_val: (1353, 48, 30)
target_values_val: (1353,)
==================
sequences_test: (1703, 48, 30)
target_values_test: (1703,)

In [88]:

print('primera secuencia de entrenamiento, primer elemento: ', sequences_train[0, 0, : ], '\n')
print('======================================================================')
print('debería ser igual a df_train.loc[0, features]: ',  df_train.loc[0, features], '\n')
print('======================================================================')
print('primer label de la primera secuencia de entrenamiento: ', target_values_train[0], '\n') 
print('======================================================================')
print('debería ser igual al elemento df_train.loc[window + 1,"label"]: ', df_train.loc[window + 1, 'label'])
print('======================================================================')
print('======================================================================')
print('======================================================================')

print('ultima secuencia de entrenamiento, primer fila: ', sequences_train[-1, 0, : ], '\n')
print('======================================================================')
print('debería ser igual a: ',  df_train.iloc[-(window+2)][features])
print('======================================================================')
print('label de la ultima secuencia de entrenamiento: ', target_values_train[-1], '\n') 
print('======================================================================')
print('debería ser igual al elemento df_train.loc[-1,"label"]: ', df_train.iloc[-1]['label'], y_train[-1])

primera secuencia de entrenamiento, primer elemento:  [ 0.00000e+00  0.00000e+00  0.00000e+00  1.00000e+00  5.00000e+00
  1.00000e+00  1.57373e+05  3.60500e+03  1.37600e+03  5.74500e+03
  1.27680e+04  4.49100e+03  1.11070e+04  1.08270e+04  1.65125e+05
  3.21800e+03  1.64570e+04  1.97560e+04  4.07060e+04  1.39350e+04
  1.53310e+04  1.95300e+04 -7.75200e+03  3.87000e+02 -1.50810e+04
 -1.40110e+04 -2.79380e+04 -9.44400e+03 -4.22400e+03 -8.70300e+03]

======================================================================
debería ser igual a df_train.loc[0, features]:  Hour                  0
spring                0
summer                0
winter                1
day_of_week           5
is_weekend            1
DEgen          157373.0
DKgen            3605.0
HUgen            1376.0
ITgen            5745.0
NEgen           12768.0
POgen            4491.0
SEgen           11107.0
SPgen           10827.0
DEload         165125.0
DKload           3218.0
HUload          16457.0
ITload          19756.0
NEload          40706.0
POload          13935.0
SEload          15331.0
SPload          19530.0
DE_surplus      -7752.0
DK_surplus        387.0
HU_surplus     -15081.0
IT_surplus     -14011.0
NE_surplus     -27938.0
PO_surplus      -9444.0
SE_surplus      -4224.0
SP_surplus      -8703.0
Name: 0, dtype: object

======================================================================
primer label de la primera secuencia de entrenamiento:  5.0

======================================================================
debería ser igual al elemento df_train.loc[window + 1,"label"]:  5
======================================================================
======================================================================
======================================================================
ultima secuencia de entrenamiento, primer fila:  [ 1.20000e+01  0.00000e+00  1.00000e+00  0.00000e+00  5.00000e+00
  1.00000e+00  1.38585e+05  2.27000e+03  3.61700e+03  1.59760e+04
  4.43300e+03  3.77300e+03  1.04190e+04  6.66880e+04  1.89219e+05
  3.54900e+03  1.60220e+04  2.70430e+04  2.88100e+04  1.98300e+04
  1.24880e+04  1.08152e+05 -5.06340e+04 -1.27900e+03 -1.24050e+04
 -1.10670e+04 -2.43770e+04 -1.60570e+04 -2.06900e+03 -4.14640e+04]

======================================================================
debería ser igual a:  Hour                 12
spring                0
summer                1
winter                0
day_of_week           5
is_weekend            1
DEgen          138585.0
DKgen            2270.0
HUgen            3617.0
ITgen           15976.0
NEgen            4433.0
POgen            3773.0
SEgen           10419.0
SPgen           66688.0
DEload         189219.0
DKload           3549.0
HUload          16022.0
ITload          27043.0
NEload          28810.0
POload          19830.0
SEload          12488.0
SPload         108152.0
DE_surplus     -50634.0
DK_surplus      -1279.0
HU_surplus     -12405.0
IT_surplus     -11067.0
NE_surplus     -24377.0
PO_surplus     -16057.0
SE_surplus      -2069.0
SP_surplus     -41464.0
Name: 5556, dtype: object
======================================================================
label de la ultima secuencia de entrenamiento:  5.0

======================================================================
debería ser igual al elemento df_train.loc[-1,"label"]:  5 5