In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../data/final_data.csv')

In [16]:
df.columns

Index(['Date', 'Hour', 'DEgen', 'DEload', 'DKgen', 'DKload', 'HUgen', 'HUload',
       'ITgen', 'ITload', 'NEgen', 'NEload', 'POgen', 'POload', 'SEgen',
       'SEload', 'SPgen', 'SPload', 'HU_surplus', 'IT_surplus', 'PO_surplus',
       'SP_surplus', 'DE_surplus', 'DK_surplus', 'SE_surplus', 'NE_surplus',
       'season_summer', 'season_autumn', 'season_winter', 'day_of_week',
       'is_weekend', 'label'],
      dtype='object')

In [13]:
# We divide the dataset into train and test
split=int(df.shape[0]*.8)
df_train=df[:split]
df_test=df[split:]

In [24]:
import numpy as np
X=np.zeros((8,df.shape[0],7))
countries=['HU','IT','PO','SP','DE','DK','SE','NE']
for i in range(len(countries)):
    country=countries[i]
    X[i,:,0]=df[country+'gen'].values
    X[i,:,1]=df[country+'load'].values
    X[i,:,2]=df['Hour'].values
    X[i,:,3]=df['is_weekend'].values
    X[i,:,4]=df['season_summer'].values
    X[i,:,5]=df['season_autumn'].values
    X[i,:,6]=df['season_winter'].values

In [32]:
X[4,:3,:]

array([[1.57373e+05, 1.65125e+05, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00],
       [1.51747e+05, 1.60415e+05, 1.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00],
       [1.47938e+05, 1.58035e+05, 2.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00]])

In [29]:
df[['Date', 'Hour', 'DEgen', 'DEload','season_summer', 'season_autumn', 'season_winter', 'day_of_week',
       'is_weekend', 'label']]

,Date,Hour,DEgen,DEload,season_summer,season_autumn,season_winter,day_of_week,is_weekend,label
0,2022-01-01,0,157373.0,165125.0,False,False,True,5,True,5
1,2022-01-01,1,151747.0,160415.0,False,False,True,5,True,5
2,2022-01-01,2,147938.0,158035.0,False,False,True,5,True,5
3,2022-01-01,3,141816.0,157016.0,False,False,True,5,True,5
4,2022-01-01,4,131970.0,154552.0,False,False,True,5,True,5
...,...,...,...,...,...,...,...,...,...,...
8754,2022-12-31,19,175631.0,184106.0,False,False,True,5,True,5
8755,2022-12-31,20,176499.0,175401.0,False,False,True,5,True,4
8756,2022-12-31,21,175678.0,168830.0,False,False,True,5,True,4
8757,2022-12-31,22,165104.0,161541.0,False,False,True,5,True,4
8758,2022-12-31,23,158365.0,153157.0,False,False,True,5,True,4